/* CSS Reset by Eric Meyer, v2.0 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    background: rgba(15, 15, 15, 1);
    font-family: sans-serif;
}

h1, h2, h3, p, a, h4{
    color: white;
}

h1 {
    font-size: 2em;
  }
h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
  h3 {
    font-size: 15px;
    font-weight: 600;
    line-height: 16.41px;
    text-align: left;
  }
  h4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
  }

.icones{
    width: 24px; /* Defina o tamanho desejado */
    height: 24px; /* Defina o tamanho desejado */
    object-fit: cover; /* A imagem preenche o contêiner sem distorcer */
}

header{
    display: flex;
    justify-content: space-between;/* Distribui os itens com espaço entre eles */
    align-items: center;/* Alinha verticalmente os itens no centro */
    padding: 10px 16px 10px 16px;
}

#menu-lateral{
    display: flex;
}

.container-pesquisar{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container-campo-pesquisar{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.botao_nav{
width: 40px;
height: 40px;
padding: 8px;
align-items: center;
background:transparent;
border: none;
cursor: pointer;
border-radius: 30px;
}
.botao_nav:hover {
    background: rgba(85, 85, 85, 1); /* Exemplo de hover com um leve fundo */
}

.botao_micro{
    width: 40px;
    height: 40px;
    padding: 8px;
    align-items: center;
    background:rgba(85, 85, 85, 1);
    border: none;
    cursor: pointer;
    border-radius: 30px;
    }

main{
    
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px 20px 10px 80px;
}

.play-video{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.perfil{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.perfil-esquerda{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.perfil-botao{
    width: 127px;
    height: 36px;
    color: black;
    background-color: white;
    align-items: center;
    border: none;
    
}

button{
    font-weight: bold;
    border-radius: 30px;

}

#canal{
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil-direita{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.botao_compartilhar{
    display: flex;
    height: 36px;
    gap: 10px;
    padding: 20px;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color:rgba(39, 39, 39, 1) ;
    border: none;
}

.botao-like-dislike{
    display: flex;
    align-items: center;
    height: auto;
    gap: 10px;
    padding: 0px 10px 0px 10px;
    color: rgb(255, 255, 255);
    background-color:rgba(39, 39, 39, 1) ;
    border: 1px;
    border-radius: 30px;
}

.icone_like{
    width: 24px; /* Defina o tamanho desejado */
    height: 24px; /* Defina o tamanho desejado */
    object-fit: cover; /* A imagem preenche o contêiner sem distorcer */
    border-right: solid;
    border-width: 0.5px;
    border-color: white;
    padding: 0px 10px 0px 0px;
    align-items: center;
    display: flex;
    
}


.botao_maisOpcoes{
    display: flex;
    height: 36px;
    gap: 10px;
    padding: 0px 10px 0px 10px;
    align-items: center;
    background-color:rgba(39, 39, 39, 1) ;
    border: none;
    border-radius: 30px;
}

.descricao-video{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    background-color: rgba(39, 39, 39, 1);
}

.menu-video{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.botao_pesquisar{
    width: 404px;
    height: 30px;
    padding: 0px 10px 0px 10px;
    align-items: center;
    border-radius: 30px 0px 0px 30px;
    border-style: solid;
    border-color: rgba(48, 48, 48, 1);
    opacity: 0px;    
    cursor: pointer;
    background-color:rgba(18, 18, 18, 1);
    
}

.botao_lupa{
    width: 11%;
    height: 34px;
    padding: 0px 10px 0px 10px;
    align-items: center;
    background:rgba(48, 48, 48, 1);
    border-radius: 0px 30px 30px 0px;
    border-style: solid;
    opacity: 0px;    
    cursor: pointer;
    border-color:  rgba(48, 48, 48, 1);
}

.banner-video{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    
}

.info-video{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.info-video-titulo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

aside{
    width: 30%;
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.icone-video{
    width: 20px; /* Defina o tamanho desejado */
    height: 20px; /* Defina o tamanho desejado */
    object-fit: cover; /* A imagem preenche o contêiner sem distorcer */
}

.botao_curtir{
    width: 40px;
    height: 40px;
    padding: 8px;
    align-items: center;
    background:transparent;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}